<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Angular DreamFactory Demo</title>
        
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <link href="lib/demo.css" type="text/css" rel="stylesheet" />
    </head>
    <body ng-cloak>
        
        <div class="container" ng-controller="AngularDreamFactoryDemoController">
            <header class="jumbotron">
                <h1>DreamFactory</h1>
                <p>This demonstrates Twitter Bootstrap &amp; AngularJS to utilize the DreamFactory API.</p>
            </header>

            <section id="intro">
                <p>Use of this SDK on the local file system requires <code>*</code> to be in your list of allowed hosts in the CORS configuration section of the Admin app.</p>
                
                <p>View the <a href="readme.html">README</a> for helpful information and tutorials, including CORS access, authentication, and sessions.</p>
            </section>

            <section id="demoLogin">
                <h3>Authenticate into your DreamFactory Services Platform</h3>
                <p>First, log in to your DreamFactory Services Platform to see these API calls work.</p>

                <output class="alert alert-danger" ng-show="errors.login">
                    <strong>Error</strong>: {{errors.login}}
                </output>
                
                <output class="alert" ng-class="{'alert-success': loggedIn, 'alert-warning': !loggedIn}">
                    <span ng-show="loggedIn">Logged in</span>
                    <span ng-show="!loggedIn">Logged out</span>
                </output>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input id="email" type="email" class="form-control" placeholder="you@yours.com" ng-model="user.email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                </div>
                
                <button ng-disabled="disabled.login" type="submit" class="btn btn-primary" ng-click="login(user.email, user.password)">login</button>
            </section>

            <section ng-init="records = Todo.get()" ng-show="records.length>0" id="demoList">
                <h3>Here are the current records:</h3>
                <ul>
                    <li ng-repeat="record in records" ng-class="{complete:record.complete}">{{record.name}}</li>
                </ul>
            </section>

            <section id="demoGet">
                <h3>Retrieve records from the "todo" sample table located in your DreamFactory Services Platform</h3>

                <pre class="prettyprint languague-javascript">DreamFactory(dsp_url, app_name, 'todo').getList().success(console.log).error(console.error);</pre>
                <div class="form-group">
                    <button ng-disabled="disabled.get||!loggedIn" class="btn btn-default" ng-click="getTodos()">getTodos</button>
                </div>

                <output class="alert alert-danger" ng-show="errors.get">
                    <strong>Error</strong>: {{errors.get}}
                </output>
                
                <div class="form-group">
                    <pre ng-show="responses.get" class="prettyprint languague-json">{{responses.get|json}}</pre>
                </div>
            </section>

            <section id="demoInsert">
                <h3>Insert records into the "todo" sample table located in your DreamFactory Services Platform</h3>

                <pre class="prettyprint languague-javascript">DreamFactory(dsp_url, app_name, 'todo').insert({"name":"New Item","complete":false}).success(console.log).error(console.error);</pre>
                <div class="form-group">
                    <button ng-disabled="disabled.insert||!loggedIn" class="btn btn-default" ng-click="addTodo()">addTodo</button>
                </div>

                <output class="alert alert-danger" ng-show="errors.insert">
                    <strong>Error</strong>: {{errors.insert}}
                </output>
                
                <div class="form-group">
                    <pre ng-show="responses.insert" class="prettyprint languague-json">{{responses.insert|json}}</pre>
                </div>
            </section>

            <section id="demoUpdate">
                <h3>Update a record to be complete in the "todo" sample table located in your DreamFactory Services Platform</h3>
                <pre class="prettyprint languague-javascript">DreamFactory(dsp_url, app_name, 'todo').update(updateId, {"complete":true})</pre>
                <div class="form-group">
                    <label for="updateId">ID of record to mark complete</label>
                    <input id="updateId" ng-disabled="disabled.update||!loggedIn" type="number" class="form-control" placeholder="ID" min="0" ng-model="updateId">
                </div>
                <div class="form-group">
                    <button ng-disabled="disabled.update||!loggedIn" class="btn btn-default" ng-click="updateTodo(updateId)">updateTodo</button>
                </div>

                <output class="alert alert-danger" ng-show="errors.update">
                    <strong>Error</strong>: {{errors.update}}
                </output>
                
                <div class="form-group">
                    <pre ng-show="responses.update" class="prettyprint languague-json">{{responses.update|json}}</pre>
                </div>
            </section>

            <section id="demoDelete">
                <h3>Delete a record from the "todo" sample table located in your DreamFactory Services Platform</h3>
                <pre class="prettyprint languague-javascript">DreamFactory(dsp_url, app_name, 'todo').delete(deleteId)</pre>
                <div class="form-group">
                    <label for="deleteId">ID of record to delete</label>
                    <input id="deleteId" ng-disabled="disabled.delete||!loggedIn" type="number" class="form-control" placeholder="ID" min="0" ng-model="deleteId">
                </div>
                <div class="form-group">
                    <button ng-disabled="disabled.delete||!loggedIn" class="btn btn-default" ng-click="deleteTodo(deleteId)">deleteTodo</button>
                </div>

                <output class="alert alert-danger" ng-show="errors.delete">
                    <strong>Error</strong>: {{errors.delete}}
                </output>
                
                <div class="form-group">
                    <pre ng-show="responses.delete" class="prettyprint languague-json">{{responses.delete|json}}</pre>
                </div>
            </section>
        </div>
    </body>
    <!-- basic old browser shimming & css selectors -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.dev.js"></script>

    <!-- load angular from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>

    <!-- my code -->
    <script src="lib/DreamFactory.js"></script>
    <script src="lib/demo.js"></script>

</html>